body{
    background-image: url(./img/winter-snow.jpg);
    display: flex;
    flex-direction: column;
    text-align: center;
}
h1{
    background-color: gray;
    color: white;
    margin-left: 35%;
}

.Rubrik{
    display: flex;
    flex-direction: row;
    border: 5px solid black;
    border-radius: 5px;
}
#tomte2{
    margin-left: 35%;
}
#Julafton{
    background-color: white;
    color: red;
    margin-right: 60%;
}
#Nyår{
    background-color: orange;
    color: white;
    margin-right: 60%;
}
.viktiga{
    background-color: slategray;
    border: 1.5px solid yellow;
    margin-left:  35%;
    margin-right: 35%;
    text-align: left;
    margin-top: 50px;
}
li{
    color: white;
}
ul{
    list-style-type: square;
}
th{
    background-color: gray;
    height: 2.5%;
    font-size:larger;
}
td{
    background-color: whitesmoke;
    width: 50px;
    height: 10px;
    font-size: larger;
}
.helgdag{
    color: red;
}
#kalender{
  margin-left: 25%; 
  width: 600px;
  height: 400px;
  margin-top: 10%;
  margin-bottom: 40%;
  border: 5px solid black;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: tomato;
}
#transparant{
    background-color: rgba(red, green, blue, 0);
    border: 5px solid black;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bang{
padding-right: 30px;
}